*body {
  padding: 0px;
  margin: 0px;
}

.main-wrapper {
  display: grid;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
}

.top-left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
}

.search-icon a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.25px;
   
}
.top-right {
  width: 270px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 10px;
  align-items: center;
}

.login-button {
  width: 75px;
}

.subscribe-button {
  margin-left: 50px;
}

button {
  background-color: #567b95;
  color: white;
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  width: 130px;
  height: 32px;
  font-size: 11px;
  font-weight: 700;
}

.article-title {
  margin-left: 300px;
  color: #121212;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: 700;
  font-style: italic;
  max-width: 550px;
}

.image-size {
  width: 945px;
  height: 530px;
}

.image { 
  margin-left: 12%;
}

.image p { 
  margin-right: 400px;
  color: #666;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 15px;
  line-height: 20px;
}

.author {
  margin-left: 300px;
}

.date-social-wrapper {
  margin-left: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  max-width: 550px; 
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.save {
  color: #999;
  font-size: 30px;
  align-items: center;
}

.chatbox {
  font-size: 30px;
  align-self: center;
  background: transparent;
  justify-content: center;
}

.article-content {
  margin-left: 300px;
  max-width: 550px; 
  font-size: 20px;
  line-height: 30px;
}

hr{
  border: 1px solid #cccccc;
  align-items: center;
 max-width: 72px; 
}

.middle-p{
  font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
     max-width: 290px; 
    text-align: center;
    margin-left: 140px; 
}

.middle-p a{
  text-decoration: none;
  color: #326891 ;
}

.theory-title {
  font-size: 18px;
  font-family: 'georgia,times new roman,times,serif;';
  margin-left: -150px;
  line-height: 30%;
  font-weight: bold;
  margin-top: 50px;
}

.image-descriptor p {
  line-height: 150%;
  width: 910px;
  height: 35px;
  font-size: 14px;
  font-family: 'georgia,times new roman,times,serif;';
  margin-left: -150px;
  color: #666666;
}

.image-text-container {
  position: relative; 
  margin-left: -150px;
  margin-top: 100px;
}

.txt-onimage-1 { 
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
}

.txt-onimage-2 { 
  position: absolute; 
  top: 120px; 
  left: 250px; 
  width: 100%;
}

.txt-onimage-3 { 
  position: absolute; 
  top: 120px; 
  left: 480px; 
  width: 100%;
}

.txt-onimage-4 { 
  position: absolute; 
  top: 120px; 
  left: 725px; 
  width: 100%; 
}

.txt-onimage-5 { 
  position: absolute; 
  top: 400px; 
  left: 0; 
  width: 100%;
}

.txt-onimage-6 { 
  position: absolute;
  top: 400px;
  left: 250px;
  width: 100%;
}

.txt-onimage-7 { 
  position: absolute;
  top: 400px;
  left: 480px;
  width: 100%;
}

.txt-onimage-8 { 
  position: absolute;
  top: 400px;
  left: 725px;
  width: 100%;
}

.title-in-span span {
  font-size: 14px;
  font-weight: bold;
}

p[class*='txt-onimage-'] {
  width: 228px;
  height: 120px;
  font-family: arial,helvetica,sans-serif;
  font-size: 10px;
  line-height: 17px;
  font-weight: 300;
  color: #000000;
}

span[class*='title-in-span'] {
  font-weight: bold;
  margin-right: 5px;
}
.figure2{
margin-left: -1px;
}
.figure2 figcaption{
  width: 565px;
  font-size: 13px;
  margin-top: -7px;

}
.figure3 img{
  width: 600px;
  height: 400px;
  margin-left: -40px;
}
.figure3 figcaption{
  width: 565px;
  height: 58px;
  font-size: 16px;
  margin-top: -7px;
   line-height: 95%; 
  margin-left: -40px;
}