.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.abs-pos {
  position: absolute;
}

.main-wrapper {
  justify-content: space-between;
}

.main-content {
  margin-top: 30px;
  justify-content: center;
}

nav {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

.top-left {
  justify-content: space-around;
  width: 300px;
}

.search-icon a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.25px;
}

.top-right {
  width: 270px;
  justify-content: space-around;
  margin-right: 10px;
  align-items: center;
}

button {
  background-color: #567b95;
  color: white;
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  width: 130px;
  height: 32px;
  font-size: 11px;
  font-weight: 700;
}

.login-button {
  width: 75px;
}

.subscribe-button {
  margin-left: 50px;
}

.article-title {
  margin-left: 300px;
  color: #121212;
  font-family: georgia, times, serif;
  font-weight: 700;
  font-style: italic;
  max-width: 550px;
  text-align: center;
}

.image-size {
  width: 945px;
  height: 530px;
}

.image {
  margin-left: 12%;
}

.image p {
  margin-right: 400px;
  width: 700px;
  color: #666;
  font-family: nyt-imperial, georgia, times, serif;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 30px;
}

.author {
  margin-left: 300px;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.date-social-wrapper {
  margin-left: 300px;
  align-items: center;
  justify-content: space-between;
  max-width: 550px;
}

.social-icons {
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.save {
  color: #999;
  font-size: 30px;
  align-items: center;
}

.chatbox {
  font-size: 30px;
  align-self: center;
  background: transparent;
  justify-content: center;
}

.article-content {
  margin-left: 300px;
  max-width: 550px;
  font-size: 20px;
  line-height: 30px;
}

.article-content a {
  color: #326891;
}

hr {
  border: 1px solid #ccc;
  align-items: center;
  max-width: 72px;
}

.middle-p {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  max-width: 290px;
  margin-left: 140px;
}

.middle-p a {
  text-decoration: none;
  color: #326891;
}

.theory-title {
  font-size: 18px;
  font-family: georgia, times, serif;
  margin-left: -150px;
  line-height: 30%;
  font-weight: bold;
  margin-top: 50px;
}

.image-descriptor p {
  line-height: 150%;
  width: 910px;
  height: 35px;
  font-size: 14px;
  font-family: georgia, times, serif;
  margin-left: -150px;
  color: #666;
}

.image-text-container {
  position: relative;
  margin-left: -150px;
  margin-top: 100px;
}

.txt-onimage-1 {
  top: 120px;
  left: 0;
  width: 100%;
}

.txt-onimage-2 {
  top: 120px;
  left: 250px;
  width: 100%;
}

.txt-onimage-3 {
  top: 120px;
  left: 480px;
  width: 100%;
}

.txt-onimage-4 {
  top: 120px;
  left: 725px;
  width: 100%;
}

.txt-onimage-5 {
  top: 400px;
  left: 0;
  width: 100%;
}

.txt-onimage-6 {
  top: 400px;
  left: 250px;
  width: 100%;
}

.txt-onimage-7 {
  top: 400px;
  left: 480px;
  width: 100%;
}

.txt-onimage-8 {
  top: 400px;
  left: 725px;
  width: 100%;
}

.title-in-span span {
  font-size: 14px;
  font-weight: bold;
}

p[class*='txt-onimage-'] {
  width: 228px;
  height: 120px;
  font-family: arial, helvetica, sans-serif;
  font-size: 10px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
}

span[class*='title-in-span'] {
  font-weight: bold;
  margin-right: 5px;
}

.figure2 {
  margin-left: -1px;
}

.figure2 figcaption {
  width: 565px;
  font-size: 13px;
  margin-top: -7px;
}

.figure3 img {
  width: 600px;
  height: 400px;
  margin-left: -40px;
}

.figure3 figcaption {
  width: 565px;
  height: 58px;
  font-size: 16px;
  margin-top: -7px;
  line-height: 95%;
  margin-left: -40px;
}

.article-version-info {
  color: #666;
  font-size: 12px;
  line-height: 125%;
  width: 575px;
  height: 32px;
  margin-bottom: 20px;
}

.article-version-info a {
  color: #666;
}

.icons-social-footer {
  justify-content: space-evenly;
  width: 50%;
  margin-top: 8px;
}

.logo-footer {
  justify-content: space-around;
}

.read-comments-button {
  width: 330px;
  height: 36px;
}

.footer-social-wrapper {
  justify-content: space-between;
}

.editor-picks {
  float: right;
  margin-top: -9200px;
  margin-right: 350px;
  margin-left: 1000px;
  width: 210px;
  height: 328px;
}

.editorpick-title {
  padding-bottom: 4px;
  border-bottom: 1px solid #e2e2e2;
}

.editorspick-selection {
  text-decoration: none;
  display: inline-flex;
  padding: 10px 0;
}

.editorpick-img {
  width: 75px;
  height: 75px;
}

.editorpick-article-title {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  color: #000;
}

/* FOOTER SECTION */

footer {
  justify-content: center;
}

.footer-section1 {
  margin-left: 20px;
  display: grid;
  grid-template-areas:
    "venus mountain solar-forcast aside-footer"
    "life-on-venus orbit-earth rendezvous aside-footer";
  grid-column-gap: 10px;
  grid-template-columns: 280px 280px 280px 280px;
  grid-template-rows: repeat(3, 1fr);
}

.footer-section1 a {
  grid-area: a;
  text-decoration: none;
  padding: 5px;
  display: inline;
}

.footer-section1 img {
  width: 270px;
}

.footer-section1 h4 {
  max-width: 270px;
}

.footer-section1 h3 {
  grid-area: h3;
  padding: 5px;
}

.mountain {
  grid-area: mountain;
}

.solar-forcast {
  grid-area: solar-forcast;
}

.aside-footer {
  grid-area: aside-footer;
  margin-left: 80px;
}

.life-on-venus {
  grid-area: life-on-venus;
}

.orbit-earth {
  grid-area: orbit-earth;
}

.rendezvous {
  grid-area: rendezvous;
}

.aside-footer p {
  text-decoration: none;
  color: rgb(18, 18, 18);
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.375rem;
  width: 310px;
}

footer hr {
  border-top: 1px rgb(226, 226, 226) solid;
}

.footer-section2 {
  display: grid;
  margin-top: -400px;
  margin-left: 40px;
  column-gap: 12px;
  grid-template-areas:
    "h4 h4 h4 h4"
    "pick-1 pick-2 pick-3 .";
  grid-template-columns: 280px 280px 280px 280px;
}

.footer-section2 img {
  width: 270px;
}

.footer-section2 h4 {
  grid-area: h4;
}

.pick-1 {
  grid-area: pick-1;
}

.pick-2 {
  grid-area: pick-2;
}

.pick-3 {
  grid-area: pick-3;
}

.footer-section3 a {
  text-decoration: none;
}

.title-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid;
}

.footer-section1 figure img {
  width: 272px;
  height: 182px;
  margin: 5px;
}

.footer-section1 > a {
  display: inline;
}

.pre-footer {
  display: grid;
  grid-template-areas: "more-in-space filler more-popular";
  grid-column-gap: 20px;
  grid-template-columns: 920px 10px 474px;
  grid-template-rows: repeat(1, 40px);
  margin-top: 20px;
}

.line {
  border-top: 1px solid black;
}

.line-filler {
  border-top: 1px solid white;
}

.more-in-space {
  margin-left: 20px;
  border-top: 1px solid black;
  padding-top: 8px;
}

.more-in-space:hover {
  text-decoration: underline;
}

.pre-footer a {
  margin-top: 20px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 60px;
}

.aside-footer p a {
  text-decoration: none;
  width: 310px;
  color: black;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 125%;
}

.aside-footer h3 {
  max-width: 120px;
}

.footer-section1 > figure > figcaption > h4 {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 16px;
  margin-left: 4px;
  margin-top: -20px;
}

.footer-section1 > figure > figcaption > h4:hover {
  color: #666;
}

.footer-section1 > figure > figcaption > h6 {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  max-width: 270px;
  font-size: 12px;
  margin-top: -10px;
  margin-left: 4px;
  color: #666;
}

.footer-section1 > figure > figcaption > p {
  margin-left: 4px;
  color: #999;
  font-size: 12px;
  padding-top: -20px;
}
