*body{
    padding: 0px;
    margin: 0px;
}

.main-wrapper{
display: grid;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
}
.top-left{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;

}
.search-icon a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.25px;
     
}
.top-right{
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10px;
    align-items: center;
}
 .login-button{
    width: 75px;
}
.subscribe-button{
    margin-left: 50px;
} 
button {
    background-color: #567b95;
    color: white;
    border: 1px solid rgb(50, 104, 145);
    border-radius: 3px;
    width: 130px;
    height: 32px;
    font-size: 11px;
    font-weight: 700;
  }
  .article-title{
   margin-left: 300px;
   color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
    max-width: 550px;
  }

   .image-size {
    width: 945px;
    height: 530px;
  }
  .image{
    margin-left: 12%;
  
} 
  .image p{ 
    margin-right: 400px;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 15px;
    line-height: 20px;
}
.author{
    margin-left: 300px;
}
.date-social-wrapper{
    margin-left: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
     max-width: 550px; 
}
.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 160px;

}
.save{
    color: #999;
    font-size: 30px;
    align-items: center;
}
.chatbox{
    font-size: 30px;
    align-self: center;
    background: transparent;
    justify-content: center;
   
}
.article-content{
    margin-left: 300px;
    max-width: 550px; 
    font-size: 20px;
    line-height: 30px;
}
